Checks: 'bugprone-*, clang-analyzer-*, concurrency-*, cppcoreguidelines-*, performance-*, portability-*, readability-*, -cppcoreguidelines-pro-type-reinterpret-cast, -cppcoreguidelines-special-member-functions, -cppcoreguidelines-avoid-magic-numbers, -bugprone-easily-swappable-parameters, -readability-braces-around-statements, -readability-identifier-naming, -readability-magic-numbers'

WarningsAsErrors: true
UseColor: true

CheckOptions:
  - key:             readability-identifier-length.IgnoredParameterNames
    value:           "(op)"
  - key:             readability-identifier-length.IgnoredVariableNames
    value:           "(j|in)"
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.FunctionCase
    value:           camelCase
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.ConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.EnumConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.ParameterCase
    value:           lower_case
  - key:             readability-identifier-naming.StructCase
    value:           CamelCase
  - key:             readability-identifier-naming.TypeAliasCase
    value:           CamelCase
  - key:             readability-identifier-naming.NamespaceCase
    value:           lower_case